#selfstudy-content #toc {
	float:right;
	width:33%;
	padding:0 0 0 2em;
}

#selfstudy-content code {
	display: block;
	background:#f0f0f0;
	font-family:monospace;
	overflow:scroll;
	white-space:pre;
	padding:1em;
}

#selfstudy-content dd {
	margin-bottom:1em;;
}